* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 2 / 3;
  background: #fff;
}

.sidebar {
  grid-row: 1 / 3;
  background: rgb(29, 152, 218);
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: #f1f1f1;
}

/* sidebar section */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.home-section img,
.settings-section img {
  cursor: pointer;
  margin-left: 13px;
}

.home-section li,
.settings-section li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-section ul,
.settings-section ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-section a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.home-section a:hover {
  font-weight: normal;
}

.settings-section a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.settings-section a:hover {
  font-weight: normal;
}

/* header section */

/* top-header */
.header {
  padding: 20px;
  margin: 0 20px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  background: #d6d6d6;
  height: 25px;
  width: 40vw;
  padding: 7px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}

.profile-section img {
  cursor: pointer;
}

.user-profile-picture {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* header-content */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header-content-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-main-profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.sub-header {
  font-weight: bold;
}

.greeting {
  font-size: 1.3rem;
  font-weight: bold;
}

.header-content-right {
  display: flex;
  gap: 20px;
}

.header-content-right button {
  background: rgb(12, 138, 206);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 11px 23px;
  cursor: pointer;
}

.header-content-right button:hover {
  background: rgb(32, 177, 255);
}

.header-content-right button:nth-child(1) {
  padding: 11px 26px;
}