* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: auto 1fr; */
}

.header {
  grid-column: 2 / 3;
  background: #fff;
}

.sidebar {
  grid-row: 1 / 3;
  background: rgb(29, 152, 218);
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: #f1f1f1;
}

/* sidebar section */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.home-section img,
.settings-section img {
  cursor: pointer;
  margin-left: 13px;
}

.home-section li,
.settings-section li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-section ul,
.settings-section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-section a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.home-section a:hover {
  font-weight: normal;
}

.settings-section a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.settings-section a:hover {
  font-weight: normal;
}